html
    include html/head.html
    body
        include html/header
        include html/main.html
        include html/footer
        script(src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js" crossorigin="anonymous")
        script(src="js/app.min.js")